* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* To remove the scrollbars */
canvas {
    box-sizing: border-box;
    display: block;
    border: 2px solid #000000;
    min-width: 320px;
}

canvas:hover {
    cursor: pointer;
}

h1 {
    "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-size: 1.6em;
    padding: 0.4em;

    position: fixed;
    top: 0;
    left: 0;
}

img {
    display: none;
}

div.options {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;

    font-family: sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #ffffff;
}
