body {
    margin: 0;
    padding: 0;
    border: 0;
}

div.header {
    margin: 0;
    padding: 0;
    line-height: 60px;
    background-color: #602a2c;
    font-family: sans-serif;
    font-style: italic;
    color: #ffffff;
    font-size: 1.5em;

    box-shadow: 0 3px 3px #999999;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

div.header img {
    box-sizing: border-box;
    border: 0;
    margin: 6px;
    width: 48px;
    float: left;
}

div.header span {
    box-sizing: border-box;
    margin-left: 4px;
    float: left;
}

form {
    display: block;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #fff1db, #f5d7a9);
    border: 2px solid #707070;
    padding: 10px 5px 10px 5px;
    margin: 70px auto 0 auto;
    width: 310px;

    font-family: sans-serif;
    font-style: italic;
    font-size: 1em;
}

form::after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

form > section {
    display: block;
    margin-top: 10px;
}

form > section::after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

form > section.checkbox {
    margin-left: 25%;
}

form > img {
    display: block;
    width: 100px;
    margin: 0 auto 10px auto;
}

form > section > label {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 25%;
}

form > section > select {
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #707070;
    background-color: #bea887;
    display: block;
    float: left;
    width: 75%;

    font-family: sans-serif;
    font-style: italic;
    font-size: 1em;
}

form > section > input {
    box-sizing: border-box;
    display: block;
    float: left;
}

form > section > input[type=text] {
    border-radius: 0;
    border: 1px solid #707070;
    background-color: #bea887;
    width: 75%;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1em;
}

form > section.checkbox > label {
    width: 100%;
}

form > button {
    display: block;
    float: right;
    margin-top: 10px;
    background-color: #602a2c;
    border: 0;
    width: 100px;
    border-radius: 0;
    font-family: sans-serif;
    font-style: italic;
    color: #ffffff;
    font-size: 1em;
    line-height: 30px;
}

/* Checkbox */
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff1db;
    border: 0px solid #707070;
}
.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #fff1db;
}

.control input:checked ~ .control_indicator {
    background: #bea887;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #bea887;
}
.control input:disabled ~ .control_indicator {
    background: #fff1db;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #707070;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #fff1db;
}
